*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Microsoft Sans Serif";
}
header {
    height: 70px;
    background-color: darkgray;
}
header .logo {
    float: left;
    height: 70%;
    margin: 10px;
}
header .nav-bar {
    float: right;
    margin: 25px auto;
    display: block;
}
header .nav-bar li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
header .nav-bar li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-right: 15px;
    margin-left: -5px;
}
body {
    background-color: gainsboro;
}
main {
    width: 70%;
    float: left;
}
main .passage {
    width: 90%;
    background-color: white;
    margin: 20px;
    box-shadow: 2px 2px 5px #777777;
    padding: 30px 20px 30px 20px;
    overflow: auto;
}
main .passage h2 {
    font-family: "microsoft yahei";
    font-size: 1.5em;
    margin: 15px auto;
}
main .passage h3 {
    font-family: "microsoft yahei";
    font-size: 1.3em;
    color: dimgray;
    margin: 10px auto;
}
main .passage .author {
    color: #999999;
    font-size: 12px;
    margin: 10px auto;
}
main .passage .publish-time {
    color: #999999;
    font-size: 12px;
    margin: 10px auto;
}
main .passage p {
    margin: 1em auto;
    font-size: 14px;
}
main .passage .list {
    margin-top: 20px;
    margin-bottom: 20px;
}
main .passage li {
    margin-left: 3em;
}
main .passage .picture-list {
    text-align: center;
    width: 200px;
    height: 250px;
    padding: 0px 10px 50px 10px;
    border-style: solid;
    border-color: black;
    margin-top: 20px;
    margin-left: 50px;
    float: left;
}
main .passage .picture-list img{
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
main .passage table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
main .passage th {
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 5px;
}
main .passage td {
    text-align: left;
    padding-left: 5px;
}
main .passage .total {
    background-color: #777777;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
}
.side {
    float: left;
    width: 25%;
    background-color: white;
    margin: 20px auto;
    box-shadow: 2px 2px 5px #777777;
    padding: 30px 20px 30px 20px;
}
.side h2 {
    border-left: 3px #ccc solid;
    line-height: 2em;
    padding-left: 10px;
    margin: 0;
}
.side .description {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 1em;
    margin-top: 0.7em;
}
.side .input {
    display: inline-block;
    vertical-align: text-top;
}
.side .hint {
    color: #999;
    font-size: 0.7em;
    margin-top: 10px;
    margin-left: 30%;
    padding-left: 2em;
    display: block;
}
.side .submit-button {
    width: 100%;
    background-color: blue;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 10px;
    color: white;
    margin-top: 30px;
}
.side textarea {
    width: 60%;
    height: 80px;
    vertical-align: text-top;

}
footer {
    clear: left;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px;
}
