* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
    max-width: 90%;
    height: 600px;
    border: 1px solid #999;
    background-color: #eee;
    margin: 0 auto;
    padding: 20px 20px;
    position: relative;
}
.container .team-logo {
    width:200px;
    height:100px;
    background-color: powderblue;
    padding: 10px 10px;
    position: relative;
    border: 1px solid #999;
}
.container .team-logo img {
    width: 80px;
    height: 80px;
    position: relative;
    display: inline-block;
    border: 1px solid #999;
}
.container .team-logo .team-name {
    top: 10px;
    right: 10px;
    display: inline-block;
    position: absolute;
}
.center {
    position: absolute;
    top: 20px;
    border: 1px solid #999;
    right: 160px;
    left: 240px;
    width: auto;
    height: 500px;
    background-color: white;
    padding: 20px 20px;

}
.personal-logo {
    position: absolute;
    background-color: white;
    width: 120px;
    right: 20px;
    top: 20px;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom:20px;
    border: 1px solid #999;
}
.personal-logo ul li {
    list-style: none;
    padding-top:20px;
}
.personal-logo ul li img {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
}
